
@media screen and (max-width:550px) {
  
  html{
    padding:10px;
  }
  body{
  }
  div,p,span,a,i,ul,ol,li{
  }
  p,div{
  }
  a{
  }
  a:hover{
  }
  ul{
  }
  li{
  }
  li:not(:last-child) {
  }

/******************************************************************************/

  header{
    min-width:0px;
    max-width:500px;
  }
  .title{
    text-align:center;
    margin:0px;
    padding:0px;
    font-size:28px;
    margin-bottom:5px;
  }
  .subtitle{
  }

  /******************************************************************************/

  .homebox{
  }
  .presentation{
  }
  .linkshome{
    margin-top:20px;
    padding:5px;
    column-count:1;
  }
  .fotografia{
  }
  .homebox>.img{
  }

    /******************************************************************************/

  .section{
  }
  h1{
  }
  .seccontent{
  }
  .subsection{
  }
  .grid{
  }
  .grid>div{
  }

  .teaching{
    grid-template-columns: 100%;
  }
  .course{
  }
    /******************************************************************************/

  a.code{
    display:none;
  }

}
