/*******************************************************************************
 DEFINE COLORS
*******************************************************************************/

:root {
  --main: #006400;
  --link: #374A74;
  --linkhover: blue;
  --journal: #6A1806;
  --background: white;
  --font:#494949;
  --fontbis:gray;
}

/*******************************************************************************
 INITIALIZE SETTINGS
*******************************************************************************/

*{
  font-family:'Source Sans Pro','Roboto','Helvetica',sans-serif;
  margin:0px;
  padding:0px;
  color:inherit;
  font-size: 17.5px;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration:none;
  background-color:inherit;
  -webkit-text-size-adjust:none;
}

/*******************************************************************************
 MAIN ELEMENTS
*******************************************************************************/

html{
  background-color:white;
  padding:30px;
}
body{
  min-width:880px;
  max-width:1100px;
  color:var(--font);
  background-color:var(--background);
  margin:0px auto auto auto;
  padding:0px auto auto auto;
}
div,p,span,a,i,ul,ol,li{
  font-size:inherit;
  color:inherit;
  text-decoration:inherit;
}
p,div{
  margin-top:3px;
}
a{
  color:var(--link);
}
a:hover{
  color:var(--linkhover);
  cursor:pointer;
  text-decoration:none;
}
ul{
  padding: 7px 0px 0px 30px;
  margin:0px;
  list-style: circle;
}
li{
  margin-bottom:10px;
}
li:not(:last-child) {
  margin-bottom:2px;
}
u{
  text-decoration:underline;
  color:inherit;
  font-size:inherit;
  font-weight:inherit;
  text-align:inherit;
}
b{
  text-decoration:inherit;
  color:inherit;
  font-size:inherit;
  font-weight:bold;
  text-align:inherit;
}

/*******************************************************************************
 STRUCTURE OF THE LAYOUT
 Header-Header-Header
 Picture  MainContent
*******************************************************************************/

body{
  display:grid;
  grid-template-columns: 200px auto;
  grid-column-gap:40px;
  grid-row-gap:20px;
}
header{
  grid-column: 1/3;
  padding-bottom:15px;
  border-bottom:2px solid gray;
  background-color:white;
}
footer{
  margin-top:100px;
  text-align:right;
  grid-column: 1/3;
  font-size:80%;
  padding-top:5px;
}
maincontent{
  grid-column: 2;
  background-color:var(--background);
}
maincontentbis{
  grid-column: 1/3;
  background-color:var(--background);
}
photo{
  grid-column: 1;
  background-color:var(--background);
  text-align:center;
}
.mainpic{
  width:100%;
  margin:0px auto 8px auto;
  border:3px grey solid;
  border-radius:100%;
  text-align:center;
}

/*******************************************************************************
 HEADER
*******************************************************************************/

.title{
  color:var(--main);
  text-align:left;
  font-size:250%;
  display:block;
}
.subtitle{
  color:gray;
  text-align:left;
  font-size:140%;
  line-height:1;
  display:block;
}

/*******************************************************************************
 MAIN CONTENT
*******************************************************************************/

.section{
  margin-bottom:25px;
  width:100%;
}
h1{
  margin-bottom:15px;
  color:var(--main);
  font-size:140%;
  /* font-weight:200; */
}
h2{ /*paper*/
  color:var(--main);
  font-size:inherit;
}
.subsection{
  margin-bottom:15px;
  line-height:1.6;
  width:100%;
}

/*******************************************************************************
 OTHER COMMANDS
*******************************************************************************/

.hidden{
  display:none;
  font-size:inherit;
}
journal{
  color:var(--journal);
  font-size:inherit;
}
color{
  color:var(--main);
  font-size:inherit;
}
.abstract{
  color:var(--fontbis);
  margin-top:8px;
  color:#616161;
  text-align:justify;
}

/*******************************************************************************
 FORMAT OF LINKS
*******************************************************************************/

a.pdf::before,
a.slides::before,
a.code::before,
a.paper::before,
a.article::before,
a.github::before,
a.more::before,
a.link::before,
a.less::before,
a.twitter::before,
a.google::before,
a.cunef::before,
a.address::before{
  font-family: "FontAwesome";
  font-size:80%;
  color:var(--main);
  margin:0px;
  padding:0px;
  margin-right:6px;
  margin-left:3px;
}
a.moresec,
a.lesssec{
  color:inherit;
}
a.moresec::after,
a.lesssec::after{
  font-family: "FontAwesome";
  font-size:70%;
  color:gray;
  margin:0px;
  padding:0px;
  margin-left:6px;
  margin-right:3px;
}

a.paper::before{    content: "\f0f6 ";}
a.article::before{  content: "\f02d ";}
a.pdf::before{      content: "\f1c1 ";}
a.slides::before{   content: "\f1c4 ";}
a.code::before{     content: "\f1c9 ";}
a.github::before{   content: "\f09b ";}
a.more::before{     content: "\f196 ";}
a.less::before{     content: "\f147 ";}
a.link::before{     content: "\f08e ";}
a.twitter::before{  content: "\f099 ";}
a.address::before{  content: "\f003 ";}
a.google::before{   content: "\f1a0 ";}
a.cunef::before{    content: "\f19c ";}
a.moresec::after{   content: "\f196 ";}
a.lesssec::after{   content: "\f147 ";}

a.plus,a.minus{
  margin-right:3px;
  display: inline-block;
  margin-top:4px;
}
a.plus::after,a.minus::after{
  font-family: "FontAwesome";
  margin-left:4px;
  font-size:70%;
}
a.plus::after{
  content:"\f196";
}
a.minus::after{
  content:"\f147";
}
a.empty{
  color:lightgrey;
}
a.empty::before{
  color:lightgrey;
}
a.empty:hover{
  cursor:not-allowed;
}
