
/*******************************************************************************
 ADDAPT FOR MOBILE PHONES
*******************************************************************************/

@media screen and (max-width:900px) {

  *{
    font-size: 14px;
  }

  /*******************************************************************************
   MAIN ELEMENTS
  *******************************************************************************/

  html{
    padding:20px;
  }
  body{
    margin:0px;
    min-width:0px;
    padding:0px 20px 200px 20px;
  }
  div,p,span,a,i,ul,ol,li{
  }
  p,div{
  }
  a{
  }
  a:hover{
  }
  a.button{
  }
  ul{
  }
  li{
  }
  li:not(:last-child) {
  }
  u{
  }
  b{
  }

  /*******************************************************************************
   STRUCTURE OF THE LAYOUT
   Header-Header-Header
   Picture  MainContent
  *******************************************************************************/

  body{
    grid-template-columns: 150px auto;
  }
  header{
  }
  .maincontent{
  }
  .fotografia{
  }
  .mainpic{
  }


  /*******************************************************************************
   HEADER
  *******************************************************************************/

  .title{
  }
  .subtitle{
  }

  /*******************************************************************************
   MAIN CONTENT
  *******************************************************************************/

  .section{
    margin-bottom:20px;
  }
  h1{
    margin-bottom:10px;
  }
  .subsection{
    margin-bottom:10px;
  }

  /*******************************************************************************
   OTHER COMMANDS
  *******************************************************************************/

  .hidden{
  }
  paper{
  }
  journal{
  }
  alert{
  }
  color{
  }
  red{
  }
  .abstract{
  }

}
