
/*******************************************************************************
 ADDAPT FOR MOBILE PHONES
*******************************************************************************/

@media screen and (max-width:900px) {

  *{
    font-size: 14px;
  }

  /*******************************************************************************
   MAIN ELEMENTS
  *******************************************************************************/

  html{
    padding:20px;
  }
  body{
    margin:0px;
    min-width:0px;
    padding:0px 20px 200px 20px;
  }
  div,p,span,a,i,ul,ol,li{
  }
  p,div{
  }
  a{
  }
  a:hover{
  }
  a.button{
  }
  ul{
  }
  li{
  }
  li:not(:last-child) {
  }
  u{
  }
  b{
  }

  /*******************************************************************************
   STRUCTURE OF THE LAYOUT
   Header-Header-Header
   Picture  MainContent
  *******************************************************************************/

  body{
    display:grid;
    grid-template-areas: "h h h h" "p m m m";
    grid-column-gap:50px;
    grid-row-gap:10px;
  }
  header{
  grid-area:h;
  }
  .fotografia{
    grid-area:p;
    width:150px;
  }
  .fotografia>img{
    width:100%;
  }
  .maincontent{
    display:block;
  }

  /*******************************************************************************
   HEADER
  *******************************************************************************/

  .title{
  }
  .subtitle{
  }

  /*******************************************************************************
   MAIN CONTENT
  *******************************************************************************/

  .section{
  }
  h1{
  }
  .subsection{
  }

  /*******************************************************************************
   OTHER COMMANDS
  *******************************************************************************/

  .hidden{
  }
  paper{
  }
  journal{
  }
  alert{
  }
  color{
  }
  red{
  }
  .abstract{
  }

}
