
/*******************************************************************************
 MAIN STRUCTURE
*******************************************************************************/

*{
  font-family:Helvetica,Arial,sans-serif;
  margin:0px;
  padding:0px;
  color:inherit;
  font-size:14px;
  text-align:left;
  line-height:1.4;
  text-decoration:none;
  -webkit-text-size-adjust:none;
}
html{
  color:#494949;
}
body{
  background-color:#F7F7F7;
  margin: 50px 0px 600px 0px;
}
div,p,span,a,i,ul,ol,lis{
  font-size:inherit;
}
p,div{
  margin-top:3px;
}
a{
  color:#374A74;
}
a:hover{
  color:royalblue;
  cursor:pointer;
  text-decoration:underline;
}
ul{
  padding: 5px 0px 0px 20px;
  list-style-type:square;
}
li:not(:last-child) {
  margin-bottom:8px;
}
ul.simple>li {
  margin-bottom:2px;
}
li.o{
  margin-left:15px;
  list-style-type:circle;
}
li.n{
  margin-left:0px;
  list-style-type:none;
  margin-bottom:2px;
}
li.n:not(:last-child) {
  margin-bottom:8px;
}
.justify{
  text-align:justify;
}
.hidden{
  display:none;
}

/*******************************************************************************
STRUCTURE OF THE WEBSITE
*******************************************************************************/

.title{
  font-size:28px;
  font-weight:bold;
  text-align:center;
  margin-bottom:0px;
  margin-top:-5px;
  color:#006400;
}
.subtitle{
  font-size:18px;
  font-weight:normal;
  text-align:center;
  color:grey;
}
.section{
  width:90%;
  max-width: 990px;
  border: 2px solid grey;
  background-color: white;
  margin: 0px auto 20px auto;
  padding: 20px 25px 20px 25px;
}
.subsection{
  margin-top:12px;
}
.indexbox{
  display:grid;
  grid-column-gap:40px;
  grid-template-columns: auto 270px;
}
h1{
  font-size: 15px;
  font-weight:bold;
  margin: 0px 0px 5px 0px;
  color:#006400;
}
h2{
  font-weight:bold;
  color:#006400;
}

/*******************************************************************************
 NEW ELEMENTS
*******************************************************************************/

paper{
  color:#006400;
  font-weight:normal;
}
journal{
  color:#882d17;
  color:#880000;
  color:#920000;
  font-size:85%;
}
alert{
  color:#B26900;
  font-size:85%;
}
color{
  color:#006400;
}
red{
  color:red;
}

/*******************************************************************************
 "SHOW MORE" BOTONS
*******************************************************************************/

a.plus,a.minus{
  margin-right:3px;
  display: inline-block;
  margin-top:4px;
  font-size:85%;
}
a.plus::after{
  margin-left:3px;
  content: "\2295";
  content: url('icon_show.gif');
}
a.minus::after{
  margin-left:3px;
  content:"\2296";
  content: url('icon_hide.gif');
}
a.boton{
  cursor:pointer;
  font-size:90%;
}

/*******************************************************************************
 ADDAPT FOR MOBILE PHONES
*******************************************************************************/

@media (hover: none) and (pointer: coarse) , screen and (max-width:700px) {
  html,header,body,a,div,p,h1,h2,h3,h4,ul,ol,li{
    font-size:14px;
  }
  html,body{
    width:95%;
    margin:auto;
    padding:0px;
  }
  body{
    margin: 20px auto 250px auto;
  }
  .title{
    font-size: 26px;
    margin:0px 0px 0px 0px;
  }
  .subtitle{
    font-size: 17px;
  }
  .section{
    margin: 0px 0px 15px 0px;
  }
  .subsection{
    margin-top:15px;
  }
  h1{
    margin: 0px 0px 0px 0px;
  }
  h2{
    margin: 0px 0px 5px 0px;
  }
  ul.simple{
    padding: 3px 0px 0px 20px;
  }
  a.minus,a.plus,.plusno,.hidemobile{
    display:none;
  }
  .indexbox{
    display:block;
  }
}

/******************************************************************************/
