
/*******************************************************************************
 MAIN STRUCTURE
*******************************************************************************/

*{
  font-family:Helvetica,Arial,'Roboto Condensed',sans-serif;
  line-height:1.4;
  font-size:16px;
  padding:0px;
  margin:0px;
  text-decoration:none;
  color:inherit;
}
html{
  color:#494949;
}
div,p,span,a,i{
  font-size:inherit;
  color:inherit;
}
p,div{
  margin-top:3px;
  text-align:left;
}
a{
  color:#0026A1;
}
a:hover{
  font-weight:normal;
  text-decoration:underline;
  cursor:pointer;
}
ul{
  margin:0px;
  padding:5px 0px 0px 20px;
}
li:not(:last-child) {
  margin-bottom:8px;
}
ul.simple>li {
  margin-bottom:0px;
}

/*******************************************************************************
 NAVIGATION BAR
*******************************************************************************/

.navbar {
  position:fixed;
  top:0;
  left:0;
  overflow:hidden;
  width:100%;
  height:55px;
  min-width:900px;
  margin:0px 0px 0px 0px;
  padding:10px 0px 3px 30px;
  background-color:white;
  border-bottom: 2px solid grey;
}
.title{
  margin:0px;
  padding:0px;
  font-weight: bold;
  font-size: 200%;
  margin-right:30px;
}
.navigation{
  margin:0px;
  padding:0px;
  float:right;
  font-weight:bold;
  text-align:left;
  position:relative;
  margin:16px 200px 0px 0px;
}
a.toc,a.toca,a.toc:hover{
  color:Gray;
  font-size:120%;
  text-decoration:none;
  margin:0px 0px 0px 20px;
  padding-bottom:5px;
}
a.toca,a.toc:hover{
  font-weight:normal;
}

/*******************************************************************************
 BODY OF THE WEBSITE
*******************************************************************************/

body{
  padding:0px 0px 250px 0px;
  width:90%;
  max-width:990px;
  margin: 110px auto 400px auto;
  background-color:#F5F5F5;
}
h1{
  margin: 0px 0px 10px 0px;
  font-weight: normal;
  font-size: 170%;
  text-align: left;
}
h2{
  margin: 0px 0px 6px 0px;
  font-weight: normal;
  font-size: 100%;
}
.section,.subsection{
  border: 2px solid grey;
  background-color: white;
  clear: both;
  overflow:fixed;
}
.section{
  margin: 0px 0px 20px 0px;
  padding: 20px 20px 20px 20px;
}
.subsection{
  margin: 15px 0px 0px 0px;
  padding: 12px 17px 12px 17px;
}
.abstract{
  font-size:95%;
  line-height:1.3;
  text-align:justify;
}

/*******************************************************************************
 OTHER COMMANDS
*******************************************************************************/

.hidden{
  display:none;
}
.small{
  line-height:1.3;
  font-size: 95%;
  margin-top:8px;
  color: #494949;
}
paper{
  font-weight:normal;
  text-decoration:none;
  display:block;
  margin:0px;
  padding:0px;
  margin-bottom:7px;
}
journal{
  color:#AE2000;
  margin-top:3px;
}
red{
  color:red;
  font-style:normal;
}
alert{
  color:red;
  font-weight:bold;
}
a.plus,a.minus{
  display:inline-block;
  margin-right:5px;
}
a.plus::before{
  content:"Show "
}
a.plus::after{
  content:" \229E"
}
a.minus::before{
  content:"Hide "
}
a.minus::after{
  content:" \229F"
}
a.plus:hover,a.minus:hover{
  color:#0026A1;
  font-weight:normal;
}
.justify{
  text-align:justify;
}
.block{
  display:block;
}

/*******************************************************************************
 SET MAIN COLOR
*******************************************************************************/

paper,color,h2,h1,a.toca,a.toc:hover,.title{
  color:darkgreen;
}
a.toca,a.toc:hover{
  border-bottom:3px solid darkgreen;
}
a.plus{
  color:#494949;
}
a.minus{
  color:#494949;
}
.sidenote{
  text-align:right;
  float:right;
}
.notmobile{
  padding:0px;
  margin:0px;
}
.mobile{
  display:none;
}
.picdiv{
  float:right;
  text-align:center;
  margin:5px 5px 5px 40px;
  padding:0px;
  width:50%;
  max-width:245px;
  min-width:120px;
}

/*******************************************************************************
 ADDAPT FOR MOBILE PHONES
*******************************************************************************/

@media (max-width: 700px) {
  *{
    font-size:14px;
  }
  .navbar {
    width:100%;
    height:65px;
    padding:8px 0px 3px 30px;
    display:block;
  }
  .title{
    font-size: 150%;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    display:block;
  }
  a.toc,a.toca,a.toc:hover{
    font-size:14px;
    margin:0px 5px 0px 0px;
  }
  body{
    margin: 110px auto 400px auto;
  }
  h1{
    font-size: 140%;
  }
  .sidenote{
    text-align:left;
    float:none;
    display:block;
    margin-top:5px;
  }
  .picdiv{
    width:70%;
    float:none;
    text-align:center;
    margin:5px auto 5px auto;
    padding:0px;
    display:none;
  }
}
