
@media screen and (max-width:550px) {


    *{
      font-size: 13px;
    }

    /*******************************************************************************
     MAIN ELEMENTS
    *******************************************************************************/

    html{
      padding:10px;
    }
    body{
    }
    div,p,span,a,i,ul,ol,li{
    }
    p,div{
    }
    a{
    }
    a:hover{
    }
    a.button{
    }
    ul{
    }
    li{
    }
    li:not(:last-child) {
    }
    u{
    }
    b{
    }

    /*******************************************************************************
     STRUCTURE OF THE LAYOUT
     Header-Header-Header
     Picture  MainContent
    *******************************************************************************/

    body{
      display:block;
    }
    header{
      display:block;
    }
    photo{
      display:none;
    }
    photo>img{
      display:none;
    }
    maincontent{
      display:block;
      padding-left:0px;
      padding-top:15px;
    }

    /*******************************************************************************
     HEADER
    *******************************************************************************/

    .title{
    }
    .subtitle{
    }

    /*******************************************************************************
     MAIN CONTENT
    *******************************************************************************/

    .section{
    }
    h1{
    }
    h2{
    }
    .subsection{
    }

    /*******************************************************************************
     OTHER COMMANDS
    *******************************************************************************/

    .hidden{
    }
    paper{
    }
    journal{
    }
    alert{
    }
    color{
    }
    red{
    }
    .abstract{
    }

}
