
a.pdf::before,
a.slides::before,
a.code::before,
a.paper::before,
a.article::before,
a.github::before,
a.more::before,
a.link::before,
a.less::before,
a.twitter::before,
a.google::before,
a.cunef::before,
a.address::before{
  font-family: "FontAwesome";
  font-size:80%;
  color:#006400;
  margin:0px;
  padding:0px;
  margin-right:6px;
  margin-left:3px;
}

a.paper::before{    content: "\f0f6 ";}
a.article::before{  content: "\f02d ";}
a.pdf::before{      content: "\f1c1 ";}
a.slides::before{   content: "\f1c4 ";}
a.code::before{     content: "\f1c9 ";}
a.github::before{   content: "\f09b ";}
a.more::before{     content: "\f196 ";}
a.less::before{     content: "\f147 ";}
a.link::before{     content: "\f08e ";}
a.twitter::before{  content: "\f099 ";}
a.address::before{  content: "\f003 ";}
a.google::before{   content: "\f1a0 ";}
a.cunef::before{    content: "\f19c ";}

a.plus,a.minus{
  margin-right:3px;
  display: inline-block;
  margin-top:4px;
}
a.plus::after,a.minus::after{
  font-family: "FontAwesome";
  margin-left:4px;
  font-size:70%;
}
a.plus::after{
  content:"\f196";
}
a.minus::after{
  content:"\f147";
}
a.empty{
  color:lightgrey;
}
a.empty::before{
  color:lightgrey;
}
a.empty:hover{
  cursor:not-allowed;
}
